In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [6]:
a = 12,13,50

In [3]:
#single element tuple
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [7]:
# tuple unpacking
x1, x2, x3 = a      # a has 3 elements
print(x1,x2,x3)

12 13 50

In [8]:
a = (1,3,4,6,7,12,14,16,17)
a1, a2, *a3 = a   # a3 will get the remaining elements as a list
print(a1,a2,a3)

1 3 [4, 6, 7, 12, 14, 16, 17]

In [9]:
a[-5:]   #slicing

(7, 12, 14, 16, 17)

In [10]:
for i in a:
    print(i)

1
3
4
6
7
12
14
16
17

In [12]:
x = (1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3))     # 3 is the value to search
print(x.index(3,5))   # 3 is the value to search & 5 is the starting index

4
4
0

In [13]:
a = [1,2,3]
at = tuple(a)    #converting list to tuple
al = list(at)    #converting tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [14]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [15]:
s1 = set()  #empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [16]:
s1.add(3)
s1.add(4)
s1.add("Hello")
s1.add("all")
s1.add(3)
print(s1)

{'Hello', 3, 4, 'all'}

In [17]:
s1.discard(89)
print(s1)

{'Hello', 3, 4, 'all'}

In [18]:
for i in s1:
    print(i)

Hello
3
4
all

In [19]:
# set operations
group1 = {'apple','banana','mango','grapes','orange','watermelon','pineapple'}
group2 = {'apple','grapes','mango','pineapple','watermelon','kiwi','papaya','cherry'}

In [20]:
#union
print(group1 | group2)       #all elements from both the sets
print(group1.union(group2))

{'banana', 'grapes', 'papaya', 'watermelon', 'cherry', 'pineapple', 'apple', 'kiwi', 'orange', 'mango'}
{'banana', 'grapes', 'papaya', 'watermelon', 'cherry', 'pineapple', 'apple', 'kiwi', 'orange', 'mango'}

In [21]:
#intersection
print(group1 & group2)       #common elements from both the sets
print(group1.intersection(group2))

{'grapes', 'watermelon', 'pineapple', 'apple', 'mango'}
{'grapes', 'watermelon', 'pineapple', 'apple', 'mango'}

In [22]:
#difference
print(group1 - group2)  #elements in group1 but not in group2
print(group2 - group1)  #elements in group2 but not in group1
print(group2.difference(group1))

{'banana', 'orange'}
{'papaya', 'cherry', 'kiwi'}
{'papaya', 'cherry', 'kiwi'}

In [23]:
# symmetric difference
print(group1 ^ group2)     #elements in group1 or group2 but not in both
print(group1.symmetric_difference(group2))

{'banana', 'papaya', 'cherry', 'kiwi', 'orange'}
{'banana', 'papaya', 'cherry', 'kiwi', 'orange'}

# task
- create a list called reports that will hold report of 7 students
- each student will have a name & marks in 3 subjects
- use for loop to display the report of each student

In [24]:
reports =  [
    ['Rohan',[
        ["Maths",90],
        ['Science',95],
        ['English',89]
    ]]
]
for student in reports:
    for detail in student:
        if isinstance(detail,str):
            print(detail)
        if isinstance(detail,list):
            for subject in detail:
                print(subject[0],subject[1])

Rohan
Maths 90
Science 95
English 89